<footer class="footer has-background-dark columns">
  <div class="column">
    <div class="tile ">
      <img class="footerLogo" src="assets/images/Pezesha-Logo.png" />
    </div>
  </div>
  <div class="column content has-text-centered ">
    <p>
      ©2018 Pezesha. All Rights Reserved.
    </p>
  </div>

  <div class="column">
    <p>
      hello@pezesha.com
    </p>
    <div class='socials'>
      <a href='#'>
        <fa-icon class="" [icon]="faTwitter"></fa-icon>
      </a>
      <a href='#'>
        <fa-icon [icon]="faFacebookSquare"></fa-icon>
      </a>
      <a href='#'>
        <fa-icon [icon]="faLinkedinIn"></fa-icon>
      </a>
    </div>
  </div>
</footer>
