<ngb-carousel interval="10000" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/12.jpg" class="carouselImage" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3 class='captionName'>John Doe</h3>
      <p class='captionQuote'> “The SMEs Loan Fund has been a key partner in our success, and an invaluable asset for the growth and future of our company.” </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/11.jpg" class="carouselImage" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3 class='captionName'>Raymond Ndegwa</h3>
      <p class='captionQuote'>“Anytime I’ve had an issue, I've reached out to Pezesha SMEs Loan Fund. They've been there from the start to help when I’ve needed it.” </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/10.jpg" class="carouselImage" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3 class='captionName'>Batman Wayne</h3>
      <p class='captionQuote'>“The Loan Fund worked extensively with me to help me anticipate some of the issues that my business may face."</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/13.jpg" class="carouselImage" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3 class='captionName'>Joseph Kent</h3>
      <p class='captionQuote'>"Working with The Loan Fund helped me develop my business plan, ideas and brand before getting started, so that I was prepared to open a successful business when I received my loan." </p>
    </div>
  </ng-template>
</ngb-carousel>
