<div class='applyButton'>
    <a routerLink="apply" class="button is-success">Apply</a>
</div>
<div class="columns">
  <div class="column">
    <app-carousel></app-carousel>
  </div>
  <div class='learnMore'>
    <p>Learn More</p>
    <fa-icon [icon]="faAngleDown" (click)='scrollDown()'></fa-icon>

  </div>
</div>

<div class="columns">
  <div class="column">
    <!-- <app-how-it-works></app-how-it-works> -->
  </div>


</div>

<div class="columns">
  <div class="column">
    <app-loan-benefits></app-loan-benefits>
  </div>


</div>
