<ul class="steps has-content-centered">
      <li class="steps-segment" [ngClass]="(step === 1) ? 'is-active':'' ">
        <span class="steps-marker">
          <span class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
          </span>
        </span>
        <div class="steps-content">
          <p class="is-size-6">Personal Details</p>
        </div>
      </li>
      <li class="steps-segment" [ngClass]="(step === 2) ? 'is-active':'' ">
        <span class="steps-marker">
          <span class="icon">
            <fa-icon [icon]="faBuilding"></fa-icon>
          </span>
        </span>
        <div class="steps-content">
          <p class="is-size-6">Business Information</p>
        </div>
      </li>
      <li class="steps-segment " [ngClass]="(step === 3) ? 'is-active':'' ">
        <span class="steps-marker">
          <span class="icon">
            <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
          </span>
        </span>
        <div class="steps-content">
          <p class="is-size-6">Funding</p>
        </div>
      </li>
</ul>
