.benefitDetails {

}

.benefitDescription{
  display: flex;
  flex-direction: row;

}
.caption {
  display: inline-block;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.caption p {
  font-size: 14px;
}

.is-rounded{
  width: 60px;
  height: 60px;
}
.imageHolder {
  width:80px;
  height: 80px;
}
.benHeading {
  margin-top: -10px;
  padding-bottom: 20px;
}
