<div class="columns">
  <div class="column has-text-centered is-size-3 heading benHeading">
    <p>What can we do for you?</p>
  </div>
</div>
<div class='columns'>

  <div class="column"></div>

  <div class="column is-three-quarters">

    <div class='benefits'>
      <div class='columns benefitDetails'>
        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben1.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Grow your business and profits</p>
          </div>
        </div>

        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben4.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Grow your credit score to access bigger bank financing</p>
          </div>
        </div>

        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben6.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Buy Business assets and tools for trade</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="column"></div>

</div>

<div class='columns'>
  <div class="column"></div>
  <div class="column is-three-quarters">
    <div class='benefits'>
      <div class='columns benefitDetails'>
        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben8.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Expand your warehouse & inventory facilities</p>
          </div>
        </div>

        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben2.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Expand your distribution network with more customers</p>
          </div>
        </div>

        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben5.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Purchase technology and software tools to manage your business inventory efficiently</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>

<div class='columns'>
  <div class="column"></div>
  <div class="column is-three-quarters">
    <div class='benefits'>
      <div class='columns benefitDetails'>
        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben7.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Get financing for working capital of amounts $1000- $10,000 </p>
          </div>
        </div>

        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben9.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Access affordable financing with average interest rates of 15%-25% p.a for a period of 1-12 months</p>
          </div>
        </div>

        <div class='column benefitDescription'>
          <div class="imageHolder">
            <figure class="image is-96x96">
              <img class="is-rounded" src='assets/images/ben3.png' />
            </figure>
          </div>
          <div class="caption">
            <p>Access our SME financial Education program</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>
